/*
  =====================================================================
                              Colors
  =====================================================================
*/
$text: #122030;

$brand-25: #0466ff40;
$brand-50: #0466ff80;
$brand-75: #0466ffbf;
$brand: #0466ff;

$neutral-dark-25: #031a4440;
$neutral-dark-50: #03194280;
$neutral-dark-75: #031942bf;
$neutral-dark: #031942;

$warning-25: #ffaf0540;
$warning-50: #ffaf0580;
$warning-75: #ffb005bf;
$warning: #ffaf05;

$danger-25: #f03a3a40;
$danger-50: #f0383880;
$danger-75: #f03a3abf;
$danger: #f03a3a;

$success-25: #03b17c40;
$success-50: #03b17c80;
$success-75: #03b17cbf;
$success: #03b17c;

$info-25: #0085fe40;
$info-50: #0085fe80;
$info-75: #0085febf;
$info: #0085fe;

$info-25: #0085fe40;
$info-50: #0085fe80;
$info-75: #0085febf;
$info: #0085fe;
